.colorThemeContainer {
  padding: 20px;
  width: 70%;
  .sectionTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--neutral-950);
  }

  .sectionSubtitle {
    font-size: 14px;
    color: #333333;
    margin-bottom: 20px;
  }

  .optionCard {
    padding: 0 !important;
    margin: 20px 0;
    padding: 0 !important;
    border: 1px solid var(--neutral-200);
    font-family: var(--font-inter) !important;

    &:hover {
      border: 1px solid var(--neutral-300);
      background-color: var(--neutral-100);
      cursor: pointer;
    }

    .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      background-color: #ffffff;

      .themeIcon {
        width: 25px;
        height: 25px;
      }
    }

    .themeTitle {
      font-family: var(--font-inter);
      margin: 0;
      font-size: 16px;
      font-size: var(--font-size-4);
      letter-spacing: var(--font-letter-spacing-4);
      color: var(--neutral-950);
    }

    .themeDescription {
      font-family: var(--font-inter);
      margin: 0;
      font-size: 12px;
      color: var(--neutral-700);
    }

    .radioCol {
      text-align: end;
    }
  }
  .saveButton {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: auto;
    height: 40px;
    background-color: var(--blue-500);
  }
}
