.optionCard {
  padding: 0 !important;
  margin: 20px 0;
  padding: 0 !important;
  border: 1px solid var(--neutral-200);
  font-family: var(--font-inter) !important;

  &:hover {
    border: 1px solid var(--neutral-300);
    background-color: var(--neutral-100);
    cursor: pointer;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: 1px solid var(--neutral-200);
    background-color: var(--white);

    .themeIcon {
      width: 25px;
      height: 25px;
    }
  }

  .themeTitle {
    font-family: var(--font-inter);
    margin: 0;
    font-size: var(--font-size-4);
    letter-spacing: var(--font-letter-spacing-4);
    color: var(--neutral-950);
  }

  .themeDescription {
    font-family: var(--font-inter);
    margin: 0;
    font-size: var(--font-size-5);
    letter-spacing: var(--font-letter-spacing-5);
    color: var(--neutral-700);
  }

  .radioCol {
    text-align: end;
  }
}
