.languageMenu {
  .title {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: var(--font-size-3);
    color: var(--neutral-950);
  }

  .switch {
    margin-left: 10px;
    margin-right: 10px;
  }
}
