

:root {
  --neutral-950: #0E121B;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b303b;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #99a0ae;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;

  --blue-700: #2547D0;
  --blue-500: #335cff;
  --blue-50: #ebf1ff;

  --green-500: #21C16B;
  --green-100: #D1FBE9;

  --red-500: #FB3748;
  --red-100: #FFD5D8;

  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px; 
  --radius-full: 100%;

  --font-inter: 'Inter', sans-serif;
  --font-mono: 'Source Code Pro', monospace;
  --font-serif: 'Noto Serif', serif;

  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
}
#root {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

html,
body {
  background: #FFF;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family:var(--font-inter)
}

body, #root {
  min-height: 100vh;
}
.font-bold{
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
