:root {
  --neutral-950: #0e121b;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b303b;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #99a0ae;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --neutral-0: #ffffff;

  --blue-700: #2547d0;
  --blue-500: #335cff;
  --blue-50: #ebf1ff;

  --green-500: #21c16b;
  --green-100: #d1fbe9;

  --red-500: #fb3748;
  --red-100: #ffd5d8;

  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 100%;

  --font-inter: "Inter", sans-serif;
  --font-mono: "Source Code Pro", monospace;
  --font-serif: "Noto Serif", serif;

  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  --font-size-1: 24px;
  --font-size-2: 20px;
  --font-size-3: 16px;
  --font-size-4: 14px;
  --font-size-5: 12px;

  --font-letter-spacing-1: -0.5px;
  --font-letter-spacing-3: -0.3px;
  --font-letter-spacing-4: -0.2px;

  --font-line-height: 120%;
}
#root {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
* {
  font-family: var(--font-inter);
}

html,
body {
  background: #fff;
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
}

body,
#root {
  min-height: 100vh;
}
.font-bold {
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ant-form-item-label {
  padding-bottom: 5px !important;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: var(--neutral-100);
  color: var(--neutral-950);
}

.ant-menu-item-selected .ant-menu-item-icon {
  color: var(--blue-500) !important;
}

.ant-menu {
  padding: 0 30px 0 10px;
}

.ant-menu-inline {
  background-color: white !important;
}

.ant-menu-item {
  padding: 0 30px 0 10px;
  margin: 0 !important;
  width: auto;
}

.ant-layout-sider {
  min-width: 100% !important;
  background-color: var(--neutral-200);
}

.ant-btn:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.ant-btn:hover {
  border: none !important;
}
